%h1{ class: "page-header" }
  %div{ class: "pull-left" }
    %h1= collection_name

%div{ class: "breadcrumbs" }
  %ul
    %li
      = link_to "Home", admin_root_path
      = icon("angle-right")
    %li
      = link_to collection_name, collection_path

%div{ class: "row-fluid" }
  %div{ class: "span-12" }
    %div{ class: "box box-color box-bordered" }
      %div{ class: "box-title" }
        %h3
          = icon("table")
          %span= collection_name
        %div{ class: "actions" }
          %a{ href: frontend_locations_path, class: "btn" }
            = icon("plus-sign")
            %span New #{ resource_name }

      %div{ class: "box-content nopadding" }
        %table{ class: "table table-hover table-nomargin dataTable table-bordered dataTable-scroll-x dataTable-nosort" }
          %ul.unscheduled_events
            - for item in collection
              %li{ "data-id" => item.id }
                %span.name= item.customer_name
                %span.sort= icon("reorder")
