!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js{:lang => "en"}
  = render "layouts/admin/head"

  %body{ class: "#{ controller.controller_name } theme-lime" }
    = render "layouts/chromeframe"
    = render "layouts/admin/header"

  = render "layouts/flashes"
  %div{ id: "main", role: "main" }
    %div{ class: "container-fluid" }
      = yield

  = render "layouts/admin/footer"
  = render "layouts/admin/javascripts"
