!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js{:lang => "en"}
  = render "layouts/frontend/head"

  %body{ class: "#{ controller.controller_name } theme-lime frontend" }
    = render "layouts/chromeframe"

  = render "layouts/flashes"
  %div{ class: "wrapper" }
    %h1
      = link_to "Bolt Barbers", frontend_root_path
    %div{ id: "main", role: "main" }
      = yield

  = render "layouts/frontend/javascripts"
